html,
body {
  background: url("http://eindhovenhotspots.nl/wp-content/uploads/2016/08/Park-Eindhoven-Henri-Dunant.jpg")
    no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  text-align: center;
}
.App {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pageContent {
  width: 500px;
  background-color: rgba(233, 233, 233, 0.5);
  padding: 2rem;
  border-radius: 1rem;
}
.introScreen {
  width: 600px;
}
@media only screen and (max-width: 500px) {
  .pageContent,
  .introScreen {
    width: 90%;
  }
}
.questionAnswers {
  margin-bottom: 2rem;
  text-align: left;
  transform: translateX(25%);
  max-width: 80%;
}
.radioButton {
  margin-right: 5px;
}
h1,
h3,
p,
.answerLabel {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  color: white;
}
h1 {
  margin-bottom: 3rem;
}
h3 {
  margin-bottom: 1rem;
}
.answerLabel {
  margin: 0 1rem;
  font-size: 1.3rem;
}
.languageButtons {
  position: fixed;
  top: 10px;
  right: 10px;
  height: 115px;
  overflow-y: scroll;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.langFlag {
  height: 50px;
  width: 50px;
  margin: 0 0.5rem 5px 0.5rem;
}
.langFlag:active {
  opacity: 0.3;
  border-radius: 2rem;
  height: 50px;
}
